* @goldmonkey777

# Core & Support Modules
/merchant-portal/ @goldmonkey777
/desktop-app/ @goldmonkey777
/server/ @goldmonkey777
/integration-gateway/ @goldmonkey777
/core-engine/ @goldmonkey777
/core-design-system/ @goldmonkey777
/mobile-app/ @goldmonkey777
/fiscal-modules/ @goldmonkey777
/billing-core/ @goldmonkey777
